#Import libraries needed for analysis

In [2]:
import pandas as pd
import numpy as np

# Data import and cleaning

In [6]:
df = pd.read_csv('train.csv', header=0)

# Explore data

## Bidder dataset

Check how many examples do we have in the datasets provided by Facebook.

In [20]:
%%bash
wc -l *.csv

 7656335 bids.csv
    4701 test.csv
    2014 train.csv
 7663050 total

In [7]:
df.head(3)

,bidder_id,payment_account,address,outcome
0,91a3c57b13234af24875c56fb7e2b2f4rb56a,a3d2de7675556553a5f08e4c88d2c228754av,a3d2de7675556553a5f08e4c88d2c228vt0u4,0
1,624f258b49e77713fc34034560f93fb3hu3jo,a3d2de7675556553a5f08e4c88d2c228v1sga,ae87054e5a97a8f840a3991d12611fdcrfbq3,0
2,1c5f4fc669099bfbfac515cd26997bd12ruaj,a3d2de7675556553a5f08e4c88d2c2280cybl,92520288b50f03907041887884ba49c0cl0pd,0

In [9]:
df.describe()

           outcome
count  2013.000000
mean      0.051167
std       0.220394
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

Our training data consist of 2013 entries. Outcome is 1 when the bidder is a robot.

In [17]:
df[df['outcome']==1]['outcome'].count()

103

103 entries in the training dataset are robots.

In [22]:
df[df['outcome']==1].head(10)

,bidder_id,payment_account,address,outcome
21,5354c02817e47f28e60e44a40ca5e48dll4sz,1862ef3b7965993cc975a1161010e810w2bwo,58e5dc4d38d886f6c7abf0c264a51cb7alhj2,1
50,9434778d2268f1fa2a8ede48c0cd05c097zey,ee3295c7b31a1e9116ebf0cf2df68ed1ac8ts,627fe7481f01372c02333477471cb237qt2vf,1
51,aabc211b4cf4d29e4ac7e7e361371622pockb,a3d2de7675556553a5f08e4c88d2c228pxtr6,a3d2de7675556553a5f08e4c88d2c228bxn98,1
58,68d468e15e0de0bab9694cdca8e799eb2j8kn,a3d2de7675556553a5f08e4c88d2c228vf08k,767150cd5a97ed796bfc58456f5500250dsv7,1
77,1cbd9081de4481ada66f1853737f7684ddjd1,a3d2de7675556553a5f08e4c88d2c228buft1,a3d2de7675556553a5f08e4c88d2c228pijoz,1
86,96b90af2d3eea4d3b2bc725e1c92e212qu52g,39ef2afbc0cde265550cafb40eb3fd8erzlrm,0e6dfa874409a90bc0fbf0d531475241cvw1o,1
139,15972a431aed117840dfce5556242366c3fwq,4b5c8f52a678e51ebe0ee3fc26da66902e2l7,865e5987e0c8fc7f6301b5571d688d13pu5j1,1
148,efc61ad6db17265a4bac85f77b154ef414tpp,a3d2de7675556553a5f08e4c88d2c22850etl,a3d2de7675556553a5f08e4c88d2c228d6pnk,1
165,3d9910a238a0f282ad3132dd6fc981c8tv3tg,a3d2de7675556553a5f08e4c88d2c2281ehah,c856c4f51e949635cb567f7321bc0c6at1y78,1
199,1af4685cda2979a608c4b6ad83473774qgicn,e35a74340ac6d90fcb4fe9b84c6eaa2135wqx,ceda5914ce08b87ec934e614452442903j17m,1